<div>
    <h1>
    <p>Raspberry Pi / Adafruit DHT22 Sensor Dashboard</p>
    </h1>

    <div>
        <chart ng-model='data'></chart>
    </div>

    <div class="chartmod">
        <div class="dpselect">
        <label>Time Epoch:</label>
         <select
             ng-init="timelimit=timeoptions[8]"
             ng-change="timechange()"
             ng-model="timelimit"
             ng-options="opt as opt.label for opt in timeoptions">
             <option>--</option>
         </select>
    </div>


    <div class = "updategl">
        <!--<button ng-click="updatechart()">Update Chart</button>-->
        <label>Update every</label>
        <input type="text" id = intervalchange ng-model="updateInterval"  ng-change="intervalchange()"> seconds
    </div>


    <div class="tabletgl">
        <button ng-click="table_toggle()">{{tabletoggleText}} Table</button>
    </div>


    <div class="temptgl">
        <button ng-click="temp_toggle = !temp_toggle">View {{toggleText}}</button>
    </div>

</div>


<div ng-hide="tableviz">
    <table ng-table="tableParams" class="table">
        <tbody ng-repeat="datapoint in datapoints">
            <tr id="tr_{{datapoint.id}}">
              <td class="rowTd" data-title="'logdate_utc'" sortable="'logdate'">{{datapoint.logdate_utc}}</td>
              <td class="rowTd" data-title="'logdate_local'" sortable="'logdate'">{{datapoint.logdate_local}}</td>
              <td class="rowTd" data-title="'temp_c'" sortable="'temp_c'">{{datapoint.temp_c | number:2}}*C</td>
              <td class="rowTd" data-title="'temp_f'" sortable="'temp_f'">{{datapoint.temp_f | number:2}}*F</td>
              <td class="rowTd" data-title="'humidity'" sortable="'humidity'">{{datapoint.humidity | number:2}}%</td>
              <td class="rowTd" data-title="'location'" sortable="'location'">{{datapoint.location}}</td>
            </tr>
        </tbody>
    </table>
</div>
