chart {
    display: block;
    width:100%;
    height:600px;
}

.chartmod {
    width: 100%;
    height: 45px;
    margin:2px;
    padding:5px;
    background-color: #b0c4de;

}

.dpselect {
    float:left;
    padding:5px;
    font-size:14px;
    font-weight: bold;
}
.tabletgl {
    float:left;
    margin-left:280px;
    padding:5px;
    font-size:14px;
    font-weight: bold;
}

.temptgl{
    float:right;
    padding:5px;
    font-size:14px;
    font-weight: bold;
}

input {
    width: 50px;
    font-size:14px;
    font-weight: bold;
    padding-left:10px;
}

.updategl{
    float:left;
    margin-left:238px;
    padding:5px;
    font-size:14px;
    font-weight: bold;

}
